<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Mydeas | Soluções para geração de projetos e startups 
    </p>
    <p class="lead">
      MIT license
    </p>
    <p class="lead">Copyright 2018 MYDEAS (<a href="https://github.com/danielmanfred/mydeas-web">App Web GitHub</a>)</p>
    <p class="lead">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa laudantium exercitationem quasi adipisci rerum, eius in sed obcaecati necessitatibus, molestiae eos quisquam, cupiditate a nisi. Molestiae quasi nemo veritatis earum!.</p>
    <p class="lead">
      Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
    </p>

  </section>