<div class="menu-item-info-box">
  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{newsItem.title}}</span>
    <span class="menu-item-info-box-detail">{{newsItem.content}}</span>
    <span class="menu-item-info-box-price">{{newsItem.date | date: 'dd/MM/yyyy'}}</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Gostar</a>
    <span class="menu-item-info-box-text">{{newsItem.likes}} curtidas</span>
  </div>
  <!-- /.info-box-content -->
</div>
<!-- /.info-box -->