<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        <form [formGroup]="userForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-pencil"></i> Crie sua conta de usuário
              </h2>
            </div>
          </div>                

          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Cadastro</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container errorMessage="Campo obrigatório com 3 caracteres" label="Nome">
                <input class="form-control" formControlName="name" placeholder="Seu Nome">
              </mt-input-container>
            </div>

            <div class="col-sm-6 col-xs-12">
              <mt-input-container errorMessage="Email inválida" label="Email">
                <input type="text" class="form-control" formControlName="email" placeholder="Seu Email">
              </mt-input-container>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Informe sua Senha</p>
            </div>
            <div class="col-sm-9 col-xs-12">
              <mt-input-container errorMessage="Campo obrigatório com no mínimo 5 caracteres" label="Senha">
                <input class="form-control" formControlName="password" 
                  placeholder="Escolha uma Senha" autocomplete="off"> 
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Insira sua Foto</p>
            </div>
            <div class="col-sm-9 col-xs-12">
              <mt-input-container errorMessage="Campo obrigatório com no mínimo 5 caracteres" label="Foto">
                <input type="text" class="form-control" formControlName="pic"
                  placeholder="Coloque aqui a URL da foto" autocomplete="off">
              </mt-input-container>
            </div>
              <!-- /.col -->
          </div>

          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Sexo</p>
              <div class="form-group">
                <mt-radio [options]="gender" formControlName="gender"></mt-radio>
              </div>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkUser(userForm.value)" class="btn btn-success pull-right" 
              [disabled]="!userForm.valid"><i class="fa fa-send"></i>
               Criar Conta
            </button>
          </div>
        </div>
    </section>
</section>