<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        {{form.valid}}
        {{form.value | json}}
        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-pencil"></i> Descreva sua solicitação
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Em qual área você pretende atuar neste projeto?</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container errorMessage="Campo obrigatório com no mínimo 5 caracteres" label="Resposta">
                <input class="form-control" name="answer" ngModel required minlength="5" autocomplete="off"> 
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>

          <div class="row invoice-info">
              <div class="col-xs-12">
                <p class="lead">Qual é a sua maior expertise?</p>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="form-group" [class.has-success]="inputAnswer2.valid && (inputAnswer2.dirty || inputAnswer2.touched)"
                                        [class.has-error]="!inputAnswer2.valid && (inputAnswer2.dirty || inputAnswer2.touched)">
                  <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Resposta</label>
                  <input type="text" class="form-control" name="answer2" required minlength="5" 
                    #inputAnswer2="ngModel" ngModel placeholder="Resposta" autocomplete="off">
                  <span class="help-block" *ngIf="inputAnswer2.valid && (inputAnswer2.dirty || inputAnswer2.touched)"><i class="fa fa-check">Ok</i></span>
                  <span class="help-block" *ngIf="!inputAnswer2.valid && (inputAnswer2.dirty || inputAnswer2.touched)"><i class="fa fa-remove">Campo obrigatório</i></span>
                </div>
              </div>
              <!-- /.col -->
            </div>
        </form>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success pull-right" [disabled]="!form.valid"><i class="fa fa-send"></i> Concluir Solicitação
            </button>
          </div>
        </div>

    </section>
</section>